<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <h4> Send Email</h4>
        <% include ../public/partials/messages %>
        <form method="POST" action="/resend">
            <input type="email" name="email" value="<%= email%>">
            <input type="submit" value="retry"> 
        </form>
    </body>
</html>